
$app-blue: #4BBADD;
$app-blue-dark: #0E7EA0;
$app-blue-light: #B7E4F1;

$app-green-dark: #004E36;
$app-green: #006F46;
$app-green-light: #319F52;
$app-green-lighter: #83C597;

$app-orange: #F8981D;
$app-orange-dark: #D77000;

$app-grey: #4A4A4A;
$app-grey-dark: #2E2E2E;
$app-grey-med: #9B9B9B;
$app-grey-light: #DEDEDE;
$app-grey-lightest: #EFF2F3;

$app-error: #9D2100;

$app-primary: $app-blue-dark;
$app-secondary: $app-green-lighter;

$background: #8AA2A9;
