
// Use in this order...

@mixin desktop{
  @media only screen and (min-width: 2000px){
    @content;
  }
}

@mixin laptop{
  @media only screen and (min-width: 1300px){
    @content;
  }
}

@mixin tablet-landscape{
  @media only screen and (max-width: 1000px){
    @content;
  }
}

@mixin tablet-portrait{
  @media only screen and (max-width: 800px){
    @content;
  }
}

@mixin phone-landscape{
  @media only screen and (max-width: 600px){
    @content;
  }
}

@mixin phone-portrait{
  @media only screen and (max-width: 350px){
    @content;
  }
}





